<div>
  <a href="./post/add">新規作成</a>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>公開状態</th>
      <th>投稿者</th>
      <th>作成日時</th>
      <th>最終更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= h post.id %></td>
        <td><%= h post.title %></td>
        <td><%= h post.content %></td>
        <td><%= h publish_statuses.find { |status| status.id == post.publish_status_id }.label %></td>
        <td><%= h administrators.find { |admin| admin.id == post.administrator_id }.email %></td>
        <td><%= h post.created_at.getlocal.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td><%= h post.last_updated_at.getlocal.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td>
          <% if post.administrator_id == administrator_id %>
            <a href="./post/edit/<%= h post.id %>">編集</a>
          <% end %>
        </td>
        <td>
          <form action="./post/delete/<%= h post.id %>" method="POST">
            <input type="submit" value="削除" />
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
